body{
    background-color:rgb(30, 30, 30);
}

div{
    display: flex;
    align-items: flex-end;
    width: 400px;
    margin: 10rem;
    color: rgba(255, 0, 0, 0.6);
    font-family: 'Cute Font', cursive;
    font-size: 10rem;
    text-shadow: 0px 0px 30px red;
    
}

.p1{
    width: 320px;   

}




p{
    position: relative;
    top: 50px;
    font-size: 5rem;
    
    animation: pulse 1s infinite;
    
}


@keyframes pulse {
    0% {
      color: rgb(255, 100, 100);
      
    }
    20% {
      color: red;
      
    }
  }